<h1>
	This is the secret page!
</h1>

<p>
	You found me!
</p>

<img src="https://i0.wp.com/cdn-prod.medicalnewstoday.com/content/images/articles/326/326253/corgi-and-terrier-running.jpg?w=1155&h=1541">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>